altgraph==0.17.3
appi==0.2.5
asgiref==3.6.0
auto-py-to-exe==2.35.0
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
Django==4.2.1
Eel==0.16.0
Flask==2.3.2
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
numpy==1.24.3
pefile==2023.2.7
pycparser==2.21
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
python-dotenv==1.0.0
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
sqlparse==0.4.4
threadpoolctl==3.1.0
tzdata==2023.3
urllib3==2.0.2
Werkzeug==2.3.4
whichcraft==0.6.1
zope.event==4.6
zope.interface==6.0